.footer-app {
    margin-top: 2rem;
    height: 300px;
    background-color: var(--primary-color) !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-app>img{
      background-color: #fff;
      padding: 15px;
  }
  .footer-app>ul{
      color: var(--white-color);
      list-style: none;
      line-height: 3rem;
  }
  .footer-app>ul>li>i{
      margin-right: 10px;
  }
  .footer-media{
      display: flex;
  
  }
  .footer-media>li{
      font-size: 40px;
      margin-right:20px
  }
  